# macOS
.DS_Store

# zgrab
/zgrab2
/zgrab2-static
cmd/zgrab2/zgrab2
cmd/zgrab2/zgrab2.exe
cmd/zgrab2/zgrab2-static
cmd/zgrab2/zgrab2-static.exe
zgrab-output/

# CI dependencies
jp
jp.exe

# Compiled python modules
schemas/*.pyc

# Marker files for make
docker-runner/*.id

# Python
venv/*
*.pyc
zgrab2_schemas.egg-info/*
build/*
dist/*

.vscode/*

# My own scripts
/mkbin.sh
/mkrscan.sh
/localreplay.sh

# My notes
/success.txt
/try-groups.sh
/create-bytes.py
/result.txt
/result-summary.txt

# Binary files
udp-probe-reference.pcap
*.pkt

*.swp
